* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-content: center;
}
#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
}
#main > nav,
#main > aside {
  flex: 0 0 20vw;
}
#main > nav {
  order: -1;
}
header,
footer {
  height: 15vh;
  width: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

header {
  margin-left: 21%;
  font-weight: bold;
}

div#collapse {
  display: none;
}

.navbar-logo,
.navbar-logo-two,
.navbar-logo-three {
  font-size: 25px;
}

header,
footer,
article,
nav,
aside {
  padding: 1em;
}

article {
  display: flex;
  flex-direction: column;
  height: 1000px;
}

div#box {
  width: 30%;
  align-self: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
}

div#image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-top: 5%;
  width: 100%;
  height: auto;
}

div#logo {
  max-width: 12%;
  height: auto;
  display: flex;
}

div#logo img {
  max-width: 70%;
  height: auto;
  object-fit: contain;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button.openbtn {
  display: none;
}

article div#mySidebar.sidebar {
  display: none;
}

body header {
  margin-left: 20%;
}

article-zine div#mySidebar.sidebar a,
article div#mySidebar.sidebar a {
  font-weight: bold;
}

article-zine div#mySidebar.sidebar-zine {
  display: none;
}

article-zine {
  width: 70%;
  height: 0%;
  text-align: center;
}

div.slideshow-container-zine div.mySlides.fade img {
  max-width: 80%;
}
