@font-face {
  font-family: Minion Pro Medium;
  src: url("Minion Pro Medium.ttf");
  font-family: Athelas-Bold;
  src: url("Athelas-Bold.ttf");
}

* {
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  flex-direction: column;
  margin: 0;
  justify-content: center;
  align-content: center;
  font-family: Minion Pro Medium;
  font-size: 80%;
}
#main {
  display: flex;
  flex: 1;
}
#main > article {
  flex: 1;
}
#main > nav,
#main > aside {
  flex: 0 0 20vw;
}
#main > nav {
  order: -1;
}
header {
  height: 15vh;
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}

header {
  margin-top: 10%;
  margin-left: 21%;
}

div#collapse {
  display: none;
}

.navbar-logo,
.navbar-logo-two,
.navbar-logo-three {
  font-size: 25px;
  width: 18%;
}

.navbar-logo img {
  width: 60%;
  height: auto;
}

header,
article,
nav,
aside {
  padding: 1em;
}

article {
  display: flex;
  flex-direction: column;
  height: 10px;
}

div#box {
  width: 20%;
  align-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
}

div#image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-top: 5%;
  width: 100%;
  height: auto;
}

div#logo-header {
  max-width: 30%;
  height: auto;
  display: none;
}

div#logo-footer {
  max-width: 8%;
  height: auto;
  display: flex;
}

div#logo img {
  max-width: 55%;
  height: auto;
  object-fit: contain;
}
div#logo img {
  max-width: 55%;
  height: auto;
  object-fit: contain;
}

div#about-logo img {
  max-width: 70%;
  height: auto;
  object-fit: contain;
}

a:link,
a:visited {
  color: black;
  text-decoration: none;
  font-family: Minion Pro Medium;
}

* {
  box-sizing: border-box;
}

button.openbtn {
  display: none;
}

article div#mySidebar.sidebar {
  display: none;
}

body header {
  margin-left: 30%;
}

article-zine div#mySidebar.sidebar a,
article div#mySidebar.sidebar a {
  font-weight: bold;
}

article-zine div#mySidebar.sidebar-zine {
  display: none;
}

article-zine {
  width: 70%;
  height: 70%;
  text-align: center;
}

div.slideshow-container-zine div.mySlides.fade img {
  max-width: 80%;
}

footer {
  align-content: flex-start;
}

div#home-box {
  width: 500px;
  height: 200px;
  display: flex;
  align-content: center;
  justify-content: center;
}

div#footer-about {
  width: auto;
  height: 60%;
}

div#footer-index {
  width: auto;
  height: 60%;
  padding-left: 15%;
  padding-top: 8%;
}
div#logo img {
  width: auto;
  height: 60%;
}

div#footer-portfolio {
  width: auto;
  height: 60%;
  padding-right: 500px;
}

div#about-box {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 35%;
}

div#cv-box {
  width: 100%;
  height: 100%;
  display: flex;
  padding-left: 600px;
  padding-top: 20px;
}

div#about-logo {
  max-width: 15%;
  height: auto;
  display: flex;
  padding-top: 300px;
}

div#cv-logo {
  max-width: 20%;
  height: 20%;
  display: flex;
  padding-top: 800px;
}

div#portfolio-box {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 400px;
  grid-row-gap: 150px;
  padding: 10px;
  padding-top: 200px;
  width: 60%;
  align-content: center;
  padding-left: 650px;
}

div#portfolio-box a strong {
  font-family: Athelas-Bold;
}

.item1 {
  grid-column: 1 / 2;
  grid-row: 1;
  text-align: center;
}
.item2 {
  grid-column: 2 / 2;
  grid-row: 1;
  text-align: center;
}
.item3 {
  grid-column: 1;
  grid-row: 2;
  text-align: center;
}
.item4 {
  grid-column: 2;
  grid-row: 2;
  text-align: center;
}
.item5 {
  grid-column: 1;
  grid-row: 3;
  text-align: center;
}
.item6 {
  grid-column: 2;
  grid-row: 3;
  text-align: center;
}

div#contact-box {
  padding-left: 37%;
  padding-top: 7%;
}

div#contact-box strong {
  font-family: Athelas-Bold;
  padding-right: 45px;
}

div#page {
  height: 200px;
  width: 200px;
  background-color: blue;
  display: flex;
  padding-left: 500px;
  align-content: center;
}

work-footer {
  height: 15vh;
  width: 65%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  padding-left: 35%;
  padding-top: 20%;
}

div#work-box {
  display: flex;
  align-items: space-between;
  display: flex;
  height: 200px;
  flex-direction: column;
}

div#cv {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div#cv img {
  height: auto;
  width: 40%;
}

div#cv_sidebar {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 20%;
  align-self: flex-end;
}

div#cv_sidebar img {
  height: auto;
  width: 40%;
}

div#cv_body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
}
work-publication-footer {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  padding-left: 5%;
}

div#text-box {
  padding-left: 3%;
}

div#text-box-two {
  padding-left: 5%;
}

div#logo-work img {
  width: 11%;
  padding-top: 17%;
}

contact-footer {
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  padding-top: 15%;
  padding-left: 33%;
}

div#logo-contact img {
  width: 30%;
}
