@media only screen and (max-width: 700px) {
  body {
    font-size: 70%;
  }
  a {
    font-size: 90%;
    margin: 3%;
  }
}

@media only screen and (max-width: 667px) {
  body header {
    margin-left: 60%;
  }

  body header {
    margin-left: 70%;
  }

  header {
    font-size: 5%;
    flex-direction: row;
    /* align-items: center; */
    width: 100%;
    height: 20%;
    justify-content: space-around;
    position: absolute;
    top: 60px;
    width: 100%;
    height: 1rem;
    margin-right: 3%;
  }

  div#logo {
    max-width: 40%;
    height: auto;
    display: flex;
  }
  div#logo img {
    max-width: 50%;
    height: auto;
    object-fit: contain;
  }

  body {
    display: flex;
    align-items: center;
    font-size: 70%;
    justify-content: center;
    align-items: space;
  }
  div#box {
    width: 50%;
  }
  a {
    font-size: 80%;
  }

  article.div.slidershow-container.mySlides.fade img {
    max-width: 50%;
    height: auto;
  }
  span.dot {
    height: 7px;
    width: 7px;
  }
  .navbar-logo,
  .navbar-logo-two,
  .navbar-logo-three {
    font-size: 15px;
  }
  div.text {
    font-size: 80%;
  }
  a.next,
  a.prev {
    font-size: 98%;
  }
  div.numbertext {
    font-size: 50%;
  }
  div#collapse {
    display: flex;
    height: 20%;
    width: 10%;
    flex-direction: column;
    align-items: flex-start;
  }

  div#main {
    width: 100%;
    height: 100%;
    flex-direction: row;
  }

  body article {
    justify-items: center;
  }
  article {
    width: 80%;
  }

  article-zine {
    width: 80%;
    height: 60%;
    margin-left: 0%;
  }

  div#mysidebar {
    width: 20%;
  }
  div#mySidebar.sidebar {
    width: 30%;
    display: flex;
    font-size: 10px;
    position: absolute;
    flex-direction: row;
  }

  div#mySidebar.sidebar a {
    font-size: 100%;
  }

  .top-bar a {
    display: none;
  }

  footer {
    position: absolute;
    bottom: 60px;
    width: 100%;
    height: 2.5rem;
    margin-right: 20%;
  }
  /* 
  footer {
    margin-right: 20%;
    position: relative;
  } */
  button.openbtn {
    display: block;
    font-size: 16px;
  }
}

sidebar a {
  display: block;
}

Navbar__Link-toggle {
  display: none;
}

.sidebar-zine {
  margin-left: 10%;
}
